/*====================
      Layout
  ====================*/

.checkout {
  max-width: 500px;
  margin: 4rem auto;
  padding: 2rem;
  border: 1px solid var(--color-border);
  background-color: var(--color-bg);
  border-radius: 10px;
  box-shadow: var(--color-shadow);
}

.checkout form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.checkout input {
  padding: 0.75rem 1rem;
  font-size: var(--font-size-md);
  border: 1px solid var(--color-border);
  border-radius: 6px;
  transition: border-color 0.2s;
}
