/*====================
      Layout
  ====================*/

.product-detail {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 2rem auto;
  gap: 40px;
  padding: 0 20px;
}

.product-detail .left {
  flex: 1 1 400px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.product-detail .right {
  flex: 1 1 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/*====================
      Typography
  ====================*/

.product-detail .right h2 {
  font-size: var(--font-size-xlg);
  margin-bottom: 12px;
}

.product-detail .right h3 {
  font-size: var(--font-size-lg);
  color: --color-primary;
  margin-bottom: 20px;
}

.product-detail .right p {
  font-size: var(--font-size-md);
  margin-bottom: 24px;
  line-height: 1.5;
}

/*====================
      Utilities
  ====================*/

.product-detail .right button {
  padding: 15px 25px;
  color: --dark-text;
  border: none;
  border-radius: 6px;
  font-size: var(--font-size-xmd);
  cursor: pointer;
  margin-top: 10px;
}

.product-detail .left img {
  width: 100%;
  max-width: 400px;
  object-fit: contain;
  border-radius: 8px;
}
