/*====================
      Layout
  ====================*/

.filter-bar {
  display: flex;
  justify-content: right;
  padding: 25px 16px;
  gap: 16px;
}

.search-input {
  padding: 1rem;
  border: none;
  border-radius: 25px;
  width: 100%;
  box-shadow: var(--color-shadow);
}

.filter-dropdown {
  border: none;
  border-radius: 25px;
  padding: 1rem;
  box-shadow: var(--color-shadow);
}
