.filter-bar {
  display: flex;
  justify-content: right;
  padding: 25px 16px;
  gap: 16px;
}

.search-input {
  padding: 1rem;
  border: none;
  border-radius: 25px;
  width: 100%;
}

.filter-dropdown {
  border: none;
  border-radius: 25px;
  padding: 1rem;
}

@media (prefers-color-scheme: light) {
  .search-input {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }

  .filter-dropdown {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
}
