/*====================
      Layout
  ====================*/

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  color: var(--color-text);
  background-color: var(--color-bg);
  border-bottom: 1px solid var(--color-border);
  position: sticky;
  top: 0;
  z-index: 10;
}

/*====================
      Typography
  ====================*/

nav ul {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
}

nav li {
  font-size: var(--font-size-xmd);
}

nav a {
  text-decoration: none;
  color: var(--color-text);
  font-weight: var(--font-weight-bold);
  transition: color 0.2s ease;
}
nav a:hover {
  color: var(--color-primary);
}

nav span {
  border: 2px solid var(--color-text);
  font-weight: var(--font-weight-bold);
}
nav a:hover span {
  border-color: var(--color-primary);
}

/*====================
      Utilities
  ====================*/

.logo-wrapper {
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-wrapper:hover {
  box-shadow: 0 0 5rem var(--color-secondary);
}

.logo {
  height: 7rem;
  width: 7rem;
}

.hidden {
  visibility: hidden;
}
