/*====================
      Layout
  ====================*/

.product-card {
  border: 1px solid var(--color-border);
  border-radius: 8px;
  padding: 16px;
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 250px;
  box-sizing: border-box;
  box-shadow: var(--color-shadow);
}

/*====================
      Typography
  ====================*/

.product-card h2,
.product-card h2 a {
  font-size: var(--font-size-xmd);
  margin-bottom: 8px;
  font-weight: var(--font-weight-bold);
}

.product-price {
  color: var(--color-primary);
}

.product-card h3 {
  margin-bottom: 8px;
}

.product-card .category {
  font-style: italic;
  color: var(--color-text);
}

.product-quantity {
  background-color: var(--color-primary);
  color: var(--color-text);
  border: 2px solid var(--color-primary);
}

/*====================
      Utilities
  ====================*/

.product-card button {
  margin-top: auto;
  cursor: pointer;
}

.product-card img {
  background: radial-gradient(
    circle,
    rgba(152, 152, 152, 0.3) 0%,
    --dark-bg 70%
  );
  height: 200px;
  object-fit: contain;
  margin-bottom: 12px;
}

@media (prefers-color-scheme: light) {
  .product-card img {
    background: radial-gradient(circle, #cecece 0%, #ffffff 70%);
  }
}
