#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.home {
  display: flex;
  flex-direction: column;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-items: center;
}

.cart-btn {
  margin: 40px;
}
