:root {
  /*====================
      Variables
  ====================*/

  /* Colors */

  --color-primary: #ff6600;
  --color-secondary: #10979e;
  --dark-text: rgba(255, 255, 255, 0.87);
  --dark-bg: #242424;
  --dark-border: #464646;
  --dark-shadow: 0 2px 6px rgba(255, 255, 255, 0.1);
  --light-text: #213547;
  --light-bg: #ffffff;
  --light-border: #ddd;
  --light-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

  /* Typography */

  --font-weight-normal: 400;
  --font-weight-bold: 600;
  --font-size-sm: 0.7em;
  --font-size-md: 1em;
  --font-size-xmd: 1.1em;
  --font-size-lg: 1.5em;
  --font-size-xlg: 2em;

  /* Semantic Tokens */

  --color-bg: var(--dark-bg);
  --color-text: var(--dark-text);
  --color-border: var(--dark-border);
  --color-shadow: var(--dark-shadow);

  /*====================
      Fonts & Reset
  ====================*/

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: var(--font-weight-normal);
  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-bg);
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*====================
      Layout
  ====================*/

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.home {
  display: flex;
  flex-direction: column;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-items: center;
}

/*====================
      Typography
  ====================*/

h1 {
  line-height: 1.1;
}

a {
  font-weight: var(--font-weight-bold);
  color: var(--color-text);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-secondary);
}

/*====================
      Utilities
  ====================*/

button {
  border-radius: 4px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
  font-family: inherit;
  color: var(--dark-text);
  cursor: pointer;
  background-color: var(--color-primary);
  transition: background-color 0.3s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:hover {
  background-color: var(--color-secondary);
}

.cart-btn {
  margin: 40px;
}

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: var(--font-size-sm);
  padding: 1px;
}

.in-line {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.in-line button {
  width: 100%;
}

.bottom {
  margin-top: auto;
}

/*====================
      Theme: Light
  ====================*/

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: var(--light-bg);
    --color-text: var(--light-text);
    --color-border: var(--light-border);
    --color-shadow: var(--light-shadow);
  }
}
